@model BancoCunha.Models.Pessoa
@{
    ViewBag.Title = "Abra sua conta";
}
<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="assets/css/style.css">

<div class="login-dark">

    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div style="text-align:center">
            <h4>Abertura de Conta</h4>
        </div>
            <div class="illustration"><img src="/img/adduser.png"/> </div>
        <div class="form-group">

            <input asp-for="NomePessoa" class="form-control" placeholder="Nome Completo">

        </div>

        <div class="form-group">

            <input asp-for="DocumentoPessoa" class="form-control" placeholder="Documento">

        </div>


        <button class="btn btn-primary btn-block" type="submit" href="@Url.Action("AbrirConta", "Conta")">
            Continuar
        </button>

    </form>


</div>

@{
    if (@TempData["Msg"] != null)
    {
        <script>

            alert('@TempData["msg"]')
        </script>

    }
}
